@page
@model WebUI.Pages.Treasures.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create new treasure</h1>
<alert view-context="ViewContext"></alert>

<div class="row">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name" class="form-control" />
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Kind"></label>
            <input asp-for="Input.Kind" class="form-control" />
            <span asp-validation-for="Input.Kind"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Price"></label>
            <input asp-for="Input.Price" class="form-control" />
            <span asp-validation-for="Input.Price"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>